<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Node1Context" connectionString="metadata=res://*/Node1Model.csdl|res://*/Node1Model.ssdl|res://*/Node1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EVR1BV5\SQLEXPRESS;initial catalog=Nodo1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Node2Context" connectionString="metadata=res://*/Node2Model.csdl|res://*/Node2Model.ssdl|res://*/Node2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EVR1BV5\SQLEXPRESS;initial catalog=Node2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Node3Context" connectionString="metadata=res://*/Node3Model.csdl|res://*/Node3Model.ssdl|res://*/Node3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EVR1BV5\SQLEXPRESS;initial catalog=Node3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>